@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: linear-gradient(-45deg, #0f172a, #1e293b, #0f172a);
  background-size: 600% 600%;
  animation: gradientBG 15s ease infinite;
  color: white;
}

@keyframes gradientBG {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}


html {
  scroll-behavior: smooth !important;
}



